@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

a, p, i, span, li {
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: ;
}
