@media (max-width: 1200px) {
    .profile {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 992px) {
    .profile {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    html {
        font-size: 58%;
    }

    .profile {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 574.98px) {
    .profile {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 425px) {
    .profile {
        padding: 8px;
    }
}